page-home {
    #map {
        height: 80%;
    }

}
.alert-wrapper > * {
    overflow-y: hidden !important;
}

.alert-radio-group {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}